<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL TRACKER</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="Form login-form">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <label for="email">email</label>
                <input type="email" placeholder="Enter Your email" name="email" required>
                <%# if (error && error.includes("Email")) { %>
                    <p style="color: red;">
                        <%# error %>
                    </p>
                    <%# } %>
            </div>
            <div class="input-box">
                <i class='bx bxs-envelope' ></i>
                <label for="Password">Password</label>
                <input type="password" name="password" placeholder="Enter Your Password" name="Password" required>
            <%# if (error && error.includes("Password")) { %>
                <p style="color: red;">
                    <%# error %>
                </p>
                <%# } %>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Or Sign up using</p>
        <div class="social-media">
            <i class='bx bxl-facebook'></i>
            <i class='bx bxl-google'></i>
            <i class='bx bxl-twitter'></i>
        </div>
        <p class="RegisteBtn RegiBtn"><a href="#">Register Now</a></p>
    </div>
    <div class="Form Register-form">
        <h2>Register</h2>
        <form action="/signup" method="post">
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" placeholder="First Name" id="first_name" required>
            </div>
             <div class="input-box">
                <i class='bx bxs-user'></i>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" placeholder="Last Name" id="last_name" required>
            </div>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <label for="email">email</label>
                <input type="email" name="email"   id="email" placeholder="email Address" required>
            </div>
            <div class="input-box">
                <i class='bx bxs-envelope'></i>
                <label for="Password">Password</label>
                <input type="password"  name="password" id="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn loginBtn">Register</button>
        </form>
        <p>Or Sign up using</p>
        <div class="social-media">
            <i class='bx bxl-facebook'></i>
            <i class='bx bxl-google'></i>
            <i class='bx bxl-twitter'></i>
        </div>
        <p class="LoginBtn"><a href="#">Login Now</a></p>
    </div>
</div>
<script src="/js/login.js"></script>
</body>
</html>